body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000; /* Запасной фон */
    touch-action: none; /* Отключаем жесты браузера */
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}